<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.a1.pdf-expiry.next</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/a1-6/Library/Application Support/PdfAuditService/start-next.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/a1-6/Library/Application Support/PdfAuditService/app/web</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/a1-6/Library/Application Support/PdfAuditService/logs/next.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/a1-6/Library/Application Support/PdfAuditService/logs/next.err.log</string>
</dict>
</plist>
